.sign {
  position: absolute;
  top:  300px;
  left: 20%;
  display: flex;
  align-items: center;
}

.bearead {
  height: 50px;
}

.aurora {
  margin-top: -17px;
  height: 120px;
}

.border {
  width: 0;
  height: 32px;
  margin: 0 20px;
  border-right: solid 2px #fff;
}