.sign {
  position: absolute;
  top:  234px;
  left: 15%;
  display: flex;
  align-items: center;
}

.bearead {
}

.aurora {
  margin-top: -15px;
  margin-left: -18px;
  height: 80px;
}

.border {
  width: 0;
  height: 27px;
  margin: 0 20px;
  border-left: solid 2px #fff;
}