
.juryImgContainer {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}
.jury {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 45%;
  img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 60px;
  }
}

.name {
  font-size: 26px;
  line-height: 37px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.introduce {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 1px;
}
.content {
  text-align: center;
}