
.juryImgContainer {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}
.jury {
  align-items: center;
  text-align: center;
  img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 60px;
  }
  &:last-child {
    margin-top: 40px;
  }
}

.name {
  font-size: 26px;
  line-height: 37px;
  margin-bottom: 28px;
}

.introduce {
  font-size: 18px;
  letter-spacing: 1px;
}
.content {
  text-align: center;
}