@charset "utf-8";
.rankList {
  background: rgba(68,65,98, 0.6);
  margin: 0 auto;
  padding-bottom: 28px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 90%;
  >div {
    width: 100%;
    margin: 0 auto;
  }
}

.isActiveSpan {

}

.rankButton {
  margin: 0 auto;
  height: 100px;
  width: 90%;
  overflow: hidden;
  img {
    width: 50%;
    height: 100%;
  }
}

.listContainer {
  padding-top: 30px;
}

.loadMore {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 2px;
  color: #9FABDD;
  outline: none;
  border: 0;
  background-color: transparent;
}

.animate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}