@charset "utf-8";
.rankList {
  opacity: 0.6;
  background: #444162;
  margin: 0 auto;
  padding-bottom: 28px;
  border-radius: 18px;
  width: 690px;
  >div {
    width: 100%;
    margin: 0 auto;
  }
}

.isActiveSpan {

}

.rankButton {
  margin: 0 auto;
  overflow: auto;
  img {
    height: 100px;
    width: 345px;
    margin-top: -15px;
  }
}

.listContainer {
  padding-top: 30px;
  opacity: 0.6;
  background: #444162;
}

.loadMore {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 2px;
  color: #9FABDD;
  outline: none;
  border: 0;
  background-color: transparent;
}

.animate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}