.container {
  padding: 40px 0;
  margin: 30px auto;
  width: 546px;
  color: #9FABDD;
  text-align: center;
  background-color: rgba(#252235, 0.3);
  border-radius: 10px;

  h2 {
    margin-bottom: 20px;
    color: #9FABDD;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.5px;
  }
}

.border {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(#fff, 0.1);
}

.award_two {
  margin: 20px 0 0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: bold;
  color:  #9FABDD;
}

.award_three {
  background-color: rgba(#3C395F, 0.5);
  text-align: center;
  width: 275px;
  height: 53px;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 32px;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: bold;
    color:  #9FABDD;
  }
}