.container {
  color: #9FABDD;
  text-align: center;
}

.copyright {
  font-size: 14px;
  letter-spacing: 0;
}

.information {
  font-size: 14px;
  letter-spacing: 0;
}

.confirmation {
  font-size: 12px;
  letter-spacing: 0;
}