@charset "utf-8";

.rank {
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 1px rgb(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-around;
}

.userImg {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  img {
    height: 100%;
    width: 100%;
  }
}