@charset "utf-8";

.rank {
  padding-left: 55px;
  padding-right: 50px;
  margin: 0 auto;
  border-bottom: solid 1px rgb(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-around;
  padding-bottom: 31px;
  margin-bottom: 29px;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  cursor: pointer;
  >img {
    height: 20px;
    width: 15px;
    margin-right: 20px;
  }
  >span {
    opacity: 0.5;
    font-family: PingFangSC-Semibold, Helvetica,Roboto,Arial,sans-serif;
    font-size: 20px;
    color: #9FABDD;
    text-align: left;
    margin-right: 20px;
  }
}

.title {
  font-size: 24px;
  letter-spacing: 2px;
  text-align: left;
  line-height: 24px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: PingFangSC-Semibold, Helvetica,Roboto,Arial,sans-serif;
  color: #9FABDD;
}
.author {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
}

.counts {

}

.comment {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: right;
}

// content
.container {
  width: 95%;
}

.content{
  overflow: auto;
  img {
    height: 150px;
    width: 100px;
    margin-left: 5%;
  }
}

.single {
  img {
    height: 100px;
    width: 100px;
    margin-left: 5%;
  }
}

.author_count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.userImg {
  height: 27px;
  width: 27px;
  border: 1px;
  border-radius: 13.5px;
  margin-right: 10px;
}

.hiedP {
  overflow:hidden;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  height: 66px;
  font-family: PingFangSC-Semibold, Helvetica,Roboto,Arial,sans-serif;
  color: #9FABDD;
  p {
    font-size: 16px;
    line-height: 22px;
  }
}


.contentMain {
  position: relative;
  overflow: hidden;
}

.description {
  font-size: 16px;
  line-height: 22px;
}

.tag {
  font-size: 16px;
  line-height: 22px;
  color: #9FABDD;
  text-align: left;
  bottom: 0;
  left:0;
  font-family: PingFangSC-Semibold, Helvetica,Roboto,Arial,sans-serif;
}

.work {
  > img {
    width: 100px;
    height: 150px;
  }
}

.number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imgComment {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.imgShare {
  width: 21px;
  height: 17px;
  margin-right: 10px;
}
