* {
  margin: 0;
  padding: 0;
}
html,body {
  height:100%;
  width: 100%;
}

html {
  font-family:"PingFangSC-Semibold","PingFang SC","Microsoft YaHei",Helvetica,Roboto,Arial,sans-serif;
  color: #9FABDD;
}

#app {
  height: 100%;
  width: 100%;
}