@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
html,body {
  height:100%;
  width: 100%;
}

html {
  font-family:"PingFangSC-Semibold","PingFang SC","Microsoft YaHei",Helvetica,Roboto,Arial,sans-serif;
  color: #9FABDD;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;/*隐藏滚轮*/
}

img {
  border: none;
}

#app {
  height: 100%;
  width: 100%;
}
.divisionContainer {
  >div {
    margin: 0 auto;
    display: flex;
    width: 550px;
    justify-content: flex-start;
  }
}

.step {
  margin-bottom: 20px;
  margin-top: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after{
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.icon {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(https://www.bearead.com/images/icon.svg);
  background-repeat: no-repeat;
}

.icon-off {
  width: 21px;
  height: 21px;
  float: right;
  margin-top: 10px;
  background-position: -240px -440px;
}