.container {
  color: #9FABDD;
  text-align: center;
  width: 596px;
  margin: 0 auto;
  padding-top: 40px;
  background: rgba(#141414,0.2);
  border-radius: 10px;
  margin-bottom: 40px;
  font-family: PingFangSC-Semibold,"PingFang SC","Microsoft YaHei",Helvetica,Roboto,Arial,sans-serif;
}

.title {
  background: rgba(#4F51A9, 0.1);
  border-radius: 5px;
  width: 516px;
  height: 56px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  p {
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 30px;
  }
}

.authorIcon {
  margin: 0 auto;
  margin-top: 48px;
  width: 124px;
  height: 124px;
  border-radius: 62px;
  display: block;
}

.author {
  margin-top: 18px;
}

.bookDetail {
  background: rgba(#4F51A9,0.1);
  border-radius: 5px;
  width: 516px;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 31px;
  margin-top: 15px;
  cursor: pointer;
  p {
    margin-left: 31px;
    margin-right: 31px;
  }
  p:first-child {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  p:last-child {
    font-size: 16px;
    letter-spacing: 0;
  }
}

.authorName {
  font-size: 20px;
  margin-bottom: 15px;
}

.king {
  width: 516px;
  height: 56px;
  margin: 0 auto;
  background: rgba(#4F51A9, 0.1);
  border-radius: 5px;
  p {
    font-size: 28px;
    color: #9FABDD;
    letter-spacing: 2px;
    text-align: center;
    line-height: 30px;
  }
}

.foot {
  margin-top: 30px;
  padding: 35px 0;
  background: rgba(#000000, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  >div {
    p:first-child {
      margin-bottom: 6px;
      font-size: 18px;
    }
    P:last-child {
      font-size: 36px;
    }
  }
}

.authorContainer {
  cursor: pointer;
}