.container {
  margin:10px auto;
  width: 546px;
  height: 200px;
  color: #9FABDD;
  text-align: center;
  opacity: 0.3;
  border-radius: 10px;
}

.award_one {
  font-size: 24px;
  letter-spacing: 1.5px;
}

.award_two {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
}

.award_three {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
}

.award_four {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}