.container {
  padding: 40px 0;
  margin: 10px auto;
  width: 95%;
  height: 2.6%;
  color: #9FABDD;
  text-align: center;
  opacity: 0.3;
  background-color: #252235;
  border-radius: 10px;

  h2 {
    margin-bottom: 20px;
    color: #9FABDD;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.5px;
  }
}

.border {
  width: 90%;
  margin: 0 auto;
}

.award_two {
  margin: 20px 0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: bold;
  color:  #9FABDD;
}

.award_three {
  background-color: #3C395F;
  text-align: center;
  width: 50%;
  padding: 10px 0;
  border-radius: 5%;
  margin: 20px auto;
  p {
    font-size: 32px;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: bold;
    color:  #9FABDD;
  }
}

.award_four {
  margin: 20px 0;
  p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
}