.container {
  text-align: center;
  height: 48px;
  background: #F4F6F8;
  border-radius: 100px;
  float: left;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content {
  font-family: PingFangSC-Regular,Helvetica,Roboto,Arial,sans-serif;;
  font-size: 24px;
  color: #3A3D40;
  line-height: 24px;
}